# Node modules
node_modules/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.AppleDouble
.LSOverride

# MacOS-specific
._*

# Windows-specific
Thumbs.db
ehthumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Deployment or test-specific output files
coverage/
